@couleurPrimaire:#4bb2e7; //couleur blue
@couleurSecondaire:white; // couleur jaune
@couleurTernaire:black;

.bg-faded{
    background:@couleurPrimaire;
}

.navbar-light .navbar-nav .nav-link{//page catégorie en cours
    color:black;
}

.navbar-light .navbar-nav .nav-link.disabled{ //lien couleur non courrant
    color:@couleurSecondaire;
}

h1{
    color:@couleurPrimaire;
    text-align:center;
}

.form-group{
    color:red;
    text-align:center;
}

footer{
    background:@couleurTernaire;
    color:white;
}

